<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender> 

	<property name="LOG" value="log" />
	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log/ddd_study.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			
			<FileNamePattern>log/ddd_study.%d{yyyy-MM-dd}.log</FileNamePattern>
			
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n </Pattern>
		</encoder>
	</appender>


	<!-- <logger name="com.myshop" level="debug" /> -->
	
	<root level="INFO" >
		<appender-ref ref="STDOUT"  />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>

</configuration>